
h1{
	font-size: 30px;
}
h2{
	color: grey;
}
h4{
	font-size: 14px;
}

hr {
	/*width: 100%;
	display: block;*/
	border-top: 2px solid #ced4da;
}

.name {
	float: right;
	color: grey;
	padding-top: 32px;
}
.main{
	position: relative;
	/*display: inline-block;*/
}
.main > img{
	width: 100%;
	height: 400px;
	display: block;
}
.social{
	text-align: center;
	position: absolute;
	top: 70%;
	left: 40%;
}
.img1 p{
	padding-left: 70px;
}
.img2 p{
	padding-left: 17%;
}
.img3 p{
	padding-left: 20%;
}
.one img {
	padding-left: 32px;
}
.three{
	width: 25%;
	float: left;
	display: inline;
}
a{
	text-decoration: none;
}
.typed{
	text-align: center;
	position: absolute;
	top: 26%;
	left: 8%;
	font-size: 24px;
}
@media only screen and (max-width: 539px){
	.main > img{
		height: 600px;
	}
	.social{
		top: 80%;
	}
}
.logo img{
	padding-top: 2%;
}
@media only screen and (min-width: 992px){
	.logo img{
		width: 17%;
	}
}
@media only screen and (min-width: 768px)and (max-width: 991px){
	.logo img{
		width: 27%;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px){
	.logo img{
		width: 43%;
	}
}
@media only screen and (max-width: 575px){
	.logo img{
		width: 60%;
		padding-top: 2%;
		padding-left: 30%;
	}
	.name{
		float: none;
		padding-left: 20%;
	}
	.typed{
		top: 20%;
	}
}



