/*.container{
	margin-left: 20px;
	margin-right: 20px;
}*/
h1{
	font-size: 30px;
}
h4{
	font-size: 14px;
}

hr {
	/*width: 100%;
	display: block;*/
	border-top: 2px solid #ced4da;
}

.name {
	float: right;
	color: grey;
	padding-top: 32px;
}
.summary{
	position: relative;
	/*display: inline-block;*/
}
.summary img{
	width: 100%;
	height: 400px;
	display: block;
}
/*.work img{
	width: 10%;
	height: 10%;
	display: inline;
}*/
.social{
	text-align: center;
	position: absolute;
	top: 70%;
	left: 40%;
}
.one img {
	padding-left: 32px;
}
.logo{
	
}
.logo img{
	width: 10%;
	height: 10%;
}
/*.two{
	width: 30%;
	float: left;
	display: inline;
}*/
.three{
	width: 25%;
	float: left;
	display: inline;
}
/*.two img{
	width: 87%;
	padding-top: 8%;
	padding-left: 15%;
}
}*/
/*.three img{

	width: 86%;
	padding-left: 30%
}*/
a{
	text-decoration: none;
}
/*.caption{
	text-align: center;
	position: absolute;
	top: 26%;
	left: 8%;
}*/
.typed{
	text-align: center;
	position: absolute;
	top: 26%;
	left: 8%;
	font-size: 24px;
}



